
.container{
    border: 5px solid #ffcc5c;
    display: flex;
    /*height: 100%;*/
    /*align-items: center;
    flex-direction: column; /* >>> cross axis */
    /* flex-direction: row;  >>> main asix also default when using display: flex */
    /* justify-content: flex-end;   controls content among main axis 
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;*/
    flex-wrap: wrap;
}

.home{
    /*flex-grow: 1;
    flex-shrink: 1;*/
    flex: 1 1 200px; /*  shorthand for all three below */
    /*flex-grow: 1;  sets the grow rate of element over left-over space 
    flex-shrink: 1; /* sets the shrink rate of element over left-over space 
    flex-basis: 200px; /* flex-basis sets base width of the element */
}

.logout{
    /*flex-grow: 1;
    flex-shrink: 1;*/
    flex: 10 1 200px;
    /*flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;*/
}

/*.container > div{
    width: 300px;
}

/*.logout{
    align-self: flex-start;
}

.home {
    align-self: flex-end;
} */
/*  
justify-content: flex-start flex-end center space-around
space-between space-evenly

*/

/*.container > div{
    flex: 1; /* sets width of target to width of container(responsive) 
}*/

/*.home, .logout {
    flex: 1;  targets more than one flex item 
}*/

/*.home {
    margin-right: auto;  moves target along main axis 
}*/

